.header_custom table thead{
    background-color: #7BD3EA !important;
}
.header_custom table thead tr{
    color: white !important;
    text-align: left;
}
.header_custom table thead > tr > th:nth-child(2){
    width: 200px !important;
    color: tomato !important;
}
.o_main_navbar {

}
.o_content .o_form_statusbar{

}
.o_td_label .o_form_label{

}
